.port-description-container {
    position: fixed;
    box-shadow: 0 12px 48px rgb(109 117 141 / 20%);
    border-radius: 10px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 270px;
    background-color: white;
    z-index: 100000000000;
    top: 20px;
    right: 20px;
    transition: opacity 500ms;
    opacity: 0;
    display: none;
}

.port-description-container h1 {
    color: #e46454;
    font-size: 20px;
    margin: 0;
    border: none;
    text-decoration: none;
}

.port-description-container .protocol {
    color: rgb(95, 95, 95);
    font-size: 15px;
    font-weight: 700;
    margin: 5px 0px;
}

.port-description-container .description {
    font-size: 12px;
    margin-bottom: 0;
    color: gray;
    line-height: 1.5;
}