<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="popup.css" />
  </head>

  <body>
    <div class="container">
      <h1>Send tweet</h1>
      <textarea id="tweetContent"></textarea>
      <button id="sendTweetBtn">Send</button>
    </div>
    <script src="popup.js"></script>
  </body>
</html>

<!-- API Key y2WzYuSpFQFduJdXQ8M0n8sHe -->
<!-- API Key Secret pfGlyKj2wmuaJxDJ0BS7OkeceSGZ64ASS1eozJxkJjDOXIa5Yg -->
<!-- Access token 4775530826-a7Jg6yCMJCMd1Gr00dUZ2iB3k6WDfjORFu34uq2 -->
<!-- Access token Secret rLAS6yotlnD3690YOw5EwxI6UPRv3yv0ef7V3Lk7kC9F9 -->
<!-- Barear Token AAAAAAAAAAAAAAAAAAAAAPmDUgEAAAAAGt%2Bzv%2FqL320ogjs2Ln8Q6F%2BmqKI%3DtPgMzdz4iGa2WoDle6mw9unSMaKRglEjJe5nw5SU1XVasUmKN0 -->