<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="popup.css" />
  </head>
  <body>
    <script src="popup.js"></script>
    <div class="container">
        <h1>Show IP information</h1>
      <input type="text" id="ip-address" />
      <p id="error-msg">La dirección IP no es válida</p>
      <button id="add-btn">Show info</button>
    </div>
  </body>
</html>

<!-- API Key 3h5RGxVeTsZUtYHkb8bDQdnoy -->
<!-- API Key Secret tFzHq39gqC34oluBsumcKbXVgAho7VZWM5zVkI3JqerMX8yQew -->
<!-- Access token 4775530826-ddUxZMcoRzJIrScYVJxAfKHqxRIHhLtKqZ32r5j -->
<!-- Access token secret W4nkfPi3qCDiAxaEkcslaWWOb1hreLg0q17FIlpYAwSJN -->
<!-- Barear Token AAAAAAAAAAAAAAAAAAAAAPmDUgEAAAAAnKSrtJ7fQ%2BwJIHlVVWlrcAwskKw%3DMtfUeC5I8S0j6r02nXSqjwTPoqfSc4RlDIIiXQsfEvbbOwVQ9d -->