<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="popup.css">
  </head>
  <body>
    <h3>Recollected weather data from: San Jose, Costa Rica.</h3>
    <div class="gadgets">
      <iframe frameborder="0" loading="lazy" src="https://stem.ubidots.com/app/dashboards/public/widget/fobhU-_WAxXhIVbqW4-eh4H43ixmDk2A29RmP52TRAw?embed=true"></iframe>
      <iframe frameborder="0" loading="lazy" src="https://stem.ubidots.com/app/dashboards/public/widget/nQp4IgdGleBGb4dS9QgDja7QstvUZ9fopXdRDL5ynBs?embed=truee"></iframe>
    </div>
  </body>
</html>